/* Estilos generales */
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.hero h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    font-family: 'Sigmar', sans-serif;
}

h1,
h2 {
    text-align: center;
    margin-top: 30px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilos para los elementos de la lista de zapatillas */
ul li {
    margin-bottom: 10px;
}

/* Estilos para los párrafos de información de las zapatillas */
ul li p {
    margin: 5px 0;
}

/* Estilos para los títulos de las zapatillas */
ul li h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Estilos para los valores de la empresa */
ul li ul {
    margin-top: 10px;
}

/* Estilos para los valores de la empresa */
ul li ul li {
    margin-bottom: 5px;
    font-size: 0.9rem;
}
