/* Estilos generales */
body {
    margin: 0;
    padding: 0;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
}

.left-container {
    display: flex;
    align-items: center;
}

.color-btn-container {
    display: flex;
    align-items: center;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el lienzo */
#pixel-canvas {
    border: 1px solid #000000;
    display: block;
    margin-bottom: 10px;
}

/* Estilos para los botones de colores */
.color-btn {
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    font-size: 15px;
}

#black-color {
    background-color: #000;
}

#red-color {
    background-color: #ff0000;
}

#green-color {
    background-color: #00ff00;
}

#blue-color {
    background-color: #0000ff;
}

/* Nuevos colores */
#yellow-color {
    background-color: #ffff00;
}

#magenta-color {
    background-color: #ff00ff;
}

#aqua-color {
    background-color: #00ffff;
}

.color-btn:hover {
    border-color: #000;
}

/* Estilos para el medidor de la dimensión del pincel */
.brush-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.brush-container label {
    margin-right: 5px;
}

/* Estilos para los botones de borrar y descargar */
#erase-btn,
#undo-btn,
#download-btn {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}

/* Estilos para el botón de Iniciar animación */
.canvas {
    position: relative;
}

/* Estilos para los botones de Detener animación e INSPIRATE */
#stop-animation-btn,
#start-animation-btn {
    padding: 8px 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 7px;
    font-size: 14px;
}

#stop-animation-btn:hover,
#start-animation-btn:hover {
    background-color: #0056b3;
}

/* Posicionamiento de los botones uno al lado del otro */
.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* Estilos para el botón INSPIRATE */
#start-animation-btn {
    position: absolute;
    bottom: 0.5px;
    left: 11.5%;
    transform: translateX(-50%);
}

/* Estilos para el botón INSPIRATE */
#stop-animation-btn {
    position: absolute;
    bottom: 1px;
    left: 86%;
    transform: translateX(-50%);
}
