/* Estilos generales */
body {
    margin: 0;
    padding: 0;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.left-container {
    display: flex;
    align-items: center;
}

.color-btn-container {
    display: flex;
    align-items: center;
}

.right-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el lienzo */
#pixel-canvas {
    border: 1px solid #000000;
}

/* Estilos para los botones de colores */
.color-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    font-size: 12px;
}

#black-color {
    background-color: #000;
}

#red-color {
    background-color: #ff0000;
}

#green-color {
    background-color: #00ff00;
}

#blue-color {
    background-color: #0000ff;
}

/* Nuevos colores */
#yellow-color {
    background-color: #ffff00;
}

#magenta-color {
    background-color: #ff00ff;
}

#aqua-color {
    background-color: #00ffff;
}

.color-btn:hover {
    border-color: #000;
}

/* Estilos para el medidor de la dimensión del pincel */
.brush-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.brush-container label {
    margin-right: 5px;
}

/* Estilos para los botones de borrar y descargar */
#erase-btn,
#download-btn {
    display: block;
    margin: 10px 0;
    font-size: 14px;
}