body {
    background-color: #1a1919f8;
    font-family: Arial, sans-serif;
  }
  .container {
    margin: 0 auto;
    margin-top: 50px;
    width: 300px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }
  .logo {
    width: 100px;
    margin-bottom: 20px;
  }
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
  button:hover {
    background-color: #45a049;
  }
  .cancelbtn {
    background-color: #f44336;
  }
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  img.avatar {
    width: 100px;
    border-radius: 50%;
  }
  span.psw {
    float: right;
    padding-top: 16px;
  }